html,
body {
    height: 100%;
}
.css-exmensagens {
    padding-top: 53px;
    padding-bottom: 53px;
    min-height: 100%;
    position: relative;
}
.css-rodape {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0 !important;
}
.css-caixa {
    width: 90%;
    margin: 0 auto;
}
.css-caixa--ff {
    width: 50%;
}
}
